Repository QDyanbing/vue-resize-container: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

chore: prepare dist and types outputs
  .gitignore
  dist/.gitkeep
  package.json
  tsconfig.json
  types/.gitkeep
Due: prettier --cache --write

feat: refactor resize component structure
  .eslintrc
  .npmignore
  .stylelintrc
  README.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/ResizeContainer.ts
  src/env.d.ts
  src/hooks/useResizable.ts
  src/index.ts
  src/resize-container.less
  src/utils/resizableConstants.ts
  tsconfig.json
  uno.config.ts
  vite.config.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

feat: 站点文档生成
  .gitignore
  .npmignore
  README.md
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/styles/custom.css
  docs/guide/demo.vue
  docs/guide/getting-started.md
  docs/index.md
  package.json
  pnpm-lock.yaml
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

feat: 文档
  docs/guide/demo.vue
  docs/guide/getting-started.md
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix: 拖拽问题
  dist/.gitkeep
  docs/.vitepress/config.ts
  package.json
  src/ResizeContainer.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

fix: 样式问题
  package.json
  src/resize-container.less
Due: prettier --cache --write, stylelint --fix

fix: 样式调整
  src/resize-container.less
Due: prettier --cache --write, stylelint --fix

feat: 增加watch命令
  README.md
  package.json
Due: prettier --cache --write

chore: align docs scripts and resizer styles
  docs/.vitepress/config.ts
  package.json
Due: eslint --max-warnings=0 --fix, prettier --cache --write

chore: init version
  package.json
Due: prettier --cache --write

chore: init version
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: npm registry
  package.json
Due: prettier --cache --write

chore: npm registry
  .npmrc
Due: none

chore: npm registry
  pnpm-lock.yaml
Due: prettier --cache --write

0.0.1
  package.json
Due: prettier --cache --write

chore: gh pages
  package.json
Due: prettier --cache --write

chore: gh pages
  pnpm-lock.yaml
Due: prettier --cache --write

docs: update
  404.html
  assets/app.eqKMfJ3b.js
  assets/chunks/framework.Je00pAPp.js
  assets/chunks/theme.DLZ19zkQ.js
  assets/guide_getting-started.md.CNt-zoy3.js
  assets/guide_getting-started.md.CNt-zoy3.lean.js
  assets/index.md.p-JkyzIb.js
  assets/index.md.p-JkyzIb.lean.js
  assets/inter-italic-cyrillic-ext.r48I6akx.woff2
  assets/inter-italic-cyrillic.By2_1cv3.woff2
  assets/inter-italic-greek-ext.1u6EdAuj.woff2
  assets/inter-italic-greek.DJ8dCoTZ.woff2
  assets/inter-italic-latin-ext.CN1xVJS-.woff2
  assets/inter-italic-latin.C2AdPX0b.woff2
  assets/inter-italic-vietnamese.BSbpV94h.woff2
  assets/inter-roman-cyrillic-ext.BBPuwvHQ.woff2
  assets/inter-roman-cyrillic.C5lxZ8CY.woff2
  assets/inter-roman-greek-ext.CqjqNYQ-.woff2
  assets/inter-roman-greek.BBVDIX6e.woff2
  assets/inter-roman-latin-ext.4ZJIpNVo.woff2
  assets/inter-roman-latin.Di8DUHzh.woff2
  assets/inter-roman-vietnamese.BjW4sHH5.woff2
  assets/style.CmxoiKVC.css
  guide/getting-started.html
  hashmap.json
  index.html
  vp-icons.css
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

chore: gh pages doc
  docs/.vitepress/config.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

docs: update
  404.html
  assets/app.DjRsShE2.js
  assets/app.eqKMfJ3b.js
  assets/chunks/framework.CSAEJbTV.js
  assets/chunks/theme.DLZ19zkQ.js
  assets/chunks/theme.DYxjPRd9.js
  assets/guide_getting-started.md.CNt-zoy3.js
  assets/guide_getting-started.md.CNt-zoy3.lean.js
  assets/guide_getting-started.md.CnIam1mK.js
  assets/guide_getting-started.md.CnIam1mK.lean.js
  assets/index.md.p-JkyzIb.js
  assets/index.md.p-JkyzIb.lean.js
  assets/index.md.zHjG1Qfx.js
  assets/index.md.zHjG1Qfx.lean.js
  assets/style.COpiJqqB.css
  assets/style.CmxoiKVC.css
  guide/getting-started.html
  hashmap.json
  index.html
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

fix: doc问题
  docs/.vitepress/config.ts
  package.json
  pnpm-lock.yaml
  uno.config.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

chore: 代码优化
  .lintstagedrc
  docs/guide/demo.vue
  src/ResizeContainer.ts
  src/hooks/useResizable.ts
  src/index.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

style: 格式化代码
  .lintstagedrc
  .stylelintrc
  docs/.vitepress/theme/index.ts
  docs/guide/getting-started.md
  eslint.config.mjs
Due: eslint --max-warnings=0 --fix, prettier --cache --write

doc: 更新文档
  README.md
Due: prettier --cache --write

0.0.2
  package.json
Due: prettier --cache --write

docs: update
  404.html
  assets/app.DjRsShE2.js
  assets/app.y1miYZUR.js
  assets/chunks/framework.1OigliS6.js
  assets/chunks/theme.CFjuzvtW.js
  assets/chunks/theme.DYxjPRd9.js
  assets/guide_getting-started.md.CnIam1mK.js
  assets/guide_getting-started.md.CnIam1mK.lean.js
  assets/guide_getting-started.md.F70hTwTC.js
  assets/guide_getting-started.md.F70hTwTC.lean.js
  assets/index.md.CvxVTksg.js
  assets/index.md.CvxVTksg.lean.js
  assets/index.md.zHjG1Qfx.js
  assets/index.md.zHjG1Qfx.lean.js
  assets/style.BWbsYLIT.css
  assets/style.COpiJqqB.css
  guide/getting-started.html
  hashmap.json
  index.html
Due: eslint --max-warnings=0 --fix, prettier --cache --write, stylelint --fix

feat: 自动注入组件样式并优化文档说明
  README.md
  package.json
  pnpm-lock.yaml
  types/.gitkeep
  vite.config.ts
Due: eslint --max-warnings=0 --fix, prettier --cache --write

chore: 去除依赖
  package.json
Due: prettier --cache --write

chore: 去除依赖
  pnpm-lock.yaml
Due: prettier --cache --write

0.0.3
  package.json
Due: prettier --cache --write

docs: update
  404.html
  assets/guide_getting-started.md.DfkLCbMg.js
  assets/guide_getting-started.md.DfkLCbMg.lean.js
  assets/guide_getting-started.md.F70hTwTC.js
  assets/guide_getting-started.md.F70hTwTC.lean.js
  guide/getting-started.html
  hashmap.json
  index.html
Due: eslint --max-warnings=0 --fix, prettier --cache --write

chore: 将 vue-demi 调整到 dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

doc: 增加pr贡献指南
  CONTRIBUTING.md
Due: prettier --cache --write

chore: integrate changesets and update release docs/scripts
  .changeset/README.md
  .changeset/config.json
  CHANGELOG.md
  README.md
  docs/.vitepress/config.ts
  docs/guide/changelog.md
  package.json
  pnpm-lock.yaml
Due: eslint --max-warnings=0 --fix, prettier --cache --write

chore: changeset
  .changeset/busy-feet-fall.md
Due: prettier --cache --write

chore: add bug issue template and disable blank issues
  .changeset/two-areas-share.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --cache --write

chore: 对齐 Changesets 配置并同步版本号
  .changeset/bold-ends-grab.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Path conditions:
  eslint --max-warnings=0 --fix: (any of: *.{js,ts,jsx,tsx}) or (any of: *.vue)
  prettier --cache --write: (((any of: *.{js,ts,jsx,tsx}) or (any of: *.vue)) or (any of: *.{css,scss,less})) or (any of: *.{json,md,yaml,yml})
  stylelint --fix: (any of: *.vue) or (any of: *.{css,scss,less})
